<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="BrokerMessageConnectionString" connectionString="Server=DESKTOP-AGA1PV9\SQLEXPRESS;Database=BrokerMessage;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="BrokerMessageConnectionString" connectionString="Server=DESKTOP-AGA1PV9\SQLEXPRESS;Database=BrokerMessage;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />-->
    <add name="BrokerMessageConnectionString" connectionString="Server=DESKTOP-AGA1PV9\SQLEXPRESS;Database=BrokerMessage;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wbsedxSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wbsedxSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://46.165.168.135/edxqas/wbsedx.asmx" binding="basicHttpBinding" bindingConfiguration="wbsedxSoap" contract="WebServiceGTE.wbsedxSoap" name="wbsedxSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="SaveXML" value="0" />
    <add key="PathLog" value="D:\Empresa" />
    <add key="DelayProcess" value="15" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>