<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="urlcomcpf" value="https://cec-claro--devcti.lightning/lightning/cmp/c__CEC_SearchAccountComponent?doc=444.522.558-41&amp;tipo=CPF"/>
    <add key="skill" value="9987569"/>
  </appSettings>
</configuration>